:root{
  --active:#CC6600;
  --active-sel:#DD8800;
	--bright-sel:#ff9d00;
	--primary:#f57c00; /*--primary:#80DEEA; cyan*/
	--secondary:#9a0036;
	--error:#d32f2f;
  /*--secondary:#3c454d;*/
  --sec-light:#656565;
  --sec-hover:#545147;
  --med-dark:#0d0d0d;
  /*--dark:#212529;*/
  --bs-primary:#f57c00; /*--primary:#80DEEA; cyan*/
	--swatch-size:18px;
	--hairswatch:64px;
  --layer-0:#121212;
	--eq-lay1:#272727;
  --eq-lay2:#414141;
  --eq-lay3:#505050;
	--normal:rgb(120,119,255);
  --layer-1:rgba(255,255,255,0.05);
  --layer-2:rgba(255,255,255,0.07);
  --layer-3:rgba(255,255,255,0.08);
  --layer-4:rgba(255,255,255,0.09);
  --layer-5:rgba(255,255,255,0.11);
  --layer-6:rgba(255,255,255,0.12);
  --layer-7:rgba(255,255,255,0.14);
  --layer-8:rgba(255,255,255,0.15);
  --layer-9:rgba(255,255,255,0.16);
	--matsizes:256px;
	--numswatches:12;
	--rendView:600px;
}

.no-gutters {
	margin-left: 0;
	margin-right: 0;
	> .col,
	> [class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}

.fs-120{font-size:1.2rem;}
.fs-110{font-size:1.1rem;}
.fs-90{font-size:0.9rem;}
.fs-80{font-size:0.8rem;}
.fs-75{font-size:0.75rem;}

.btn-tiny>.btn, .btn-tiny {
    padding: .15rem .3rem;
    font-size: .70rem;
    border-radius: .2rem;
}

.btn-primary{background-color:var(--primary);}
.btn-outline-primary{color:var(--primary);border-color:var(--primary);}

.btn-secondary{background-color:var(--secondary);}
.btn-error{background-color:var(--error);}
.btn-outline-error{border:1px solid var(--error);color:var(--error);}
.btn-outline-error:hover{color:var(--active-sel);}

.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    color: #000;
    background-color: var(--active);
    border-color: var(--active);
}

.btn-check:hover+.btn-outline-primary, .btn-outline-primary.hover{
  color: #000;
  background-color: var(--primary);
  border-color: var(--primary);
}

.layer-0{background-color:var(--layer-0);}
.layer-1{background-color:var(--layer-1);}
.layer-2{background-color:var(--layer-2);}
.layer-3{background-color:var(--layer-3);}
.layer-4{background-color:var(--layer-4);}
.layer-5{background-color:var(--layer-5);}
.layer-6{background-color:var(--layer-6);}
.layer-7{background-color:var(--layer-7);}
.layer-8{background-color:var(--layer-8);}
.layer-9{background-color:var(--layer-9);}
/* equal layer x */
.eq-lay1{background-color:var(--eq-lay1);}
.eq-lay2{background-color:var(--eq-lay2);}
.eq-lay3{background-color:var(--eq-lay3);}
.bg-normal{background-color:var(--normal);}

html, body{margin:0;padding:0;}
body{width: 100vw;height: 95vh;background-color:var(--layer-0);color:white;}

select optgroup:label{display:none;}

input[type='file']::-webkit-file-upload-button{display:none;}

.bg-attention{background-color:var(--active-sel)!important;}
.fa-mars{color:var(--bs-cyan);}
.fa-venus{color:var(--bs-teal);}
.custom{color:cyan!important;}

/* contextual menu */
.vakata-context, .vakata-context ul{z-index:2000;background-color:var(--eq-lay1)!important;box-shadow:none!important;border:1px solid var(--layer-9)}
.vakata-context .vakata-context-hover > a, .vakata-context li>a{background-color:var(--eq-lay1);color:cyan;text-shadow:none!important;}
.vakata-context li>a{padding:0 1em;}
.vakata-context li:hover>a{background-color:cyan;color:var(--eq-lay1);}
.vakata-context>*{font-size:calc(100% - 20%);}
.vakata-contextmenu-sep{background-color:var(--layer-9)!important;border:1px solid var(--layer-9)!important;}
.vakata-context .jstree-contextmenu .jstree-default-dark-contextmenu{padding:0 1em;}
ul.vakata-context.jstree-contextmenu.jstree-default-dark-contextmenu li > a >svg{min-width:24px;}
/* Options for three.js */
#interface canvas{ background: radial-gradient(#010101, #121212);background-repeat: no-repeat}
#dat-container {background-color:var(--layer-1); position: absolute; top: 0px; left: 20px; z-index: 10; border:1px solid var(--secondary)!important;z-index:11;}
#dat-container .dg.main .close-button { border:1px solid var(--secondary)!important; }
#materialTrees, #layeringsystem, .offcanvas *, .dropdown-menu li,#cagemLibrary div{font-size:0.75rem!important;}

#ModelLibrary.offcanvas{width:512px!important;}
.offcanvas .offcanvas-command{padding:1rem;background:var(--layer-3);}
.offcanvas .offcanvas-header{background-color: var(--primary);}
.offcanvas-body::-webkit-scrollbar {background-color:var(--layer-0);}
.offcanvas-body::-webkit-scrollbar-thumb{background: var(--eq-lay3);-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);border:1px solid var(--bs-dark);}
#InfoModel .offcanvas-header{background-color: transparent!important;}
#InfoModel .offcanvas-body::-webkit-scrollbar {width:6px;background-color:black;}
#InfoModel .offcanvas-body::-webkit-scrollbar-thumb{background: var(--eq-lay3);border:1px solid var(--bs-danger);background-color: rgba(220,53,69,0.5);}
#legacyMatFinder,
.offcanvas input[type='text']{background-color:var(--layer-0)!important;color:var(--bs-light)!important;border-color:#4d5154;font-size:.75rem!important;}

#NotificationCenter .offcanvas-body{background-color:var(--layer-0);}
#HelpTree *:not(svg,path){color:white!important;}

#interface{display:grid;grid-template-columns:var(--rendView) 2fr 3fr 1.8fr;grid-template-rows:40px auto;gap: 4px;}
#withthacanvas{grid-column-start: 1; grid-column-end: 1; grid-row-start: 1; grid-row-end: 5;}
/*#thacanvas{grid-column-start: 1; grid-column-end: 1; grid-row-start: 1; grid-row-end: 3;}*/
#withbones{grid-column-start: 1; grid-column-end: 1; grid-row-start: 1;grid-row-end: 1;z-index:10;text-align:right;}
#Filemanager{grid-column-start: 2; grid-column-end: 5; grid-row-start: 1; grid-row-end: 1;display:grid;grid-template-columns:1fr 2fr 1fr;text-align: center;}
#MlEditor{grid-column-start: 2; grid-column-end: 2;grid-row-start: 2; grid-row-end: 3;}
#modelsInformation{grid-column-start: 1; grid-column-end: 2; grid-row-start: 3; grid-row-end: 3;}
#micropanel{grid-column-start: 4; grid-column-end: 4; grid-row-start: 2; grid-row-end: 4;}
#layer_settings{grid-column-start: 3; grid-column-end: 3; grid-row-start: 2; grid-row-end: 3;}
#colorGrid{display:grid;grid-template-columns:1fr 2fr 1fr .3fr;}
#matdisplay{display:grid;grid-template-columns: 170px 1fr;} /*display the materials and it's datas*/

#legacyMaterial{height:140px;overflow-y: scroll;border:1px solid #4d5154!important;}
#cagethematerials{height:270px;overflow-y: scroll;border:1px solid #4d5154!important;}
#cagemLibrary{height:calc(2 * var(--matsizes));overflow-y: scroll;border:1px solid #4d5154!important;}
#cagemLibrary::-webkit-scrollbar ,
#cagethematerials::-webkit-scrollbar {background-color:var(--layer-0);}
#cagemLibrary::-webkit-scrollbar-thumb,
#cagethematerials::-webkit-scrollbar-thumb{background: var(--eq-lay3);-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);border:1px solid var(--bs-dark);}

#cagemLibrary > div{height:var(--matsizes);border:1px solid var(--secondary);text-align: center;background-color: var(--secondary);margin-bottom:3px;text-shadow: 0 0 3px #000, 0 0 5px #000;}
#cagemLibrary > div.active{border-color:var(--primary);background-color: var(--active);}

#aimGRID{display:grid;grid-template-columns: 20px 521px 1fr;}
#aimGRID input:first-of-type{grid-column-start: 1;grid-column-end: 1;}
#aimGRID canvas:not(#MaskTargettoAim){display:block;position:absolute!important;float:left;left:calc(1rem + 21px);top:1rem;}
#aimGRID div.canvas-container{display:block;position:absolute!important;float:left;left:calc(1rem + 21px);top:1rem;}
#aimGRID #MaskTargettoAim{grid-column-start: 2; grid-column-end: 3;}
#aimGRID input:last-of-type{grid-column-start: 2;grid-column-end: 17;}
#aimPanels{grid-column-start: 3; grid-column-end: 3; grid-row-start: 1; grid-row-end: 3;}


#layer_settings div.input-group div.badge{min-width:70px;}
#micropanel div.input-group div.badge{min-width:120px;}
#withbones{color:var(--eq-lay2);}
#withbones.on{color:var(--primary);}

/*#colordisplay{width:content;height:calc(calc(var( --swatch-size )*6)+13px);overflow-x: auto;border:1px solid #4d5154!important;}
#cagecolors{display:flex;flex-flow: column wrap;justify-content:flex-start;align-content:flex-start;height:calc(calc(var(--swatch-size)*6) + 7px);}*/
#colordisplay{width:content;height:calc(calc(var( --swatch-size ) * var(--numswatches))+13px);overflow-y: auto;border:1px solid #4d5154!important;}
#cagecolors{display:flex;flex-flow: row wrap;justify-content:flex-start;align-content:flex-start;height:calc(calc(var(--swatch-size)* var(--numswatches)) + 7px);}
#cagecolors span{flex-basis:var(--swatch-size);width:var(--swatch-size);height:var(--swatch-size);display:inline-block;border:1px solid var(--layer-1);margin:0;}
/*#cagecolors span:active{border-color:var(--active-sel);}*/
#cagethemicroblends li.MBactive,
#cagecolors span:active,
#cagecolors span.active{
	z-index:1;
	box-shadow: inset 0 0 6px rgba(255,255,0,0.9), 0 0 5px rgba(0,0,0,0.8);
}
#colordisplay::-webkit-scrollbar {height:12px;background-color:black;}
#colordisplay::-webkit-scrollbar-thumb{background: var(--eq-lay3);border:1px solid var(--bs-danger);background-color: rgba(220,53,69,0.5);}/*{background: var(--eq-lay3);border:1px solid var(--bs-dark);/*-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);}*/

.twoColGrid{display:grid;grid-template-columns:1fr 1fr;}
.treeColGrid{display:grid;grid-template-columns:1fr 1fr 1fr;}
.treeColGrid_spaced{display:grid;grid-template-columns:1fr 1fr 1fr;column-gap:3px;}
.matColGrid_spaced{display:grid;grid-template-columns:repeat(4,minmax(170px,256px));column-gap:3px;}

.tint{-moz-box-shadow:inset 0 0 5px #000; -webkit-box-shadow: inset 0 0 5px #000; box-shadow:inset 0 0 5px #000;height:32px !important;background-blend-mode: overlay;}
#AimBlend .modal-body *:not(button, i),
#modelsInformation .input-group-text {border-color:var(--bs-info)!important;}

/* correct JSTree*/
.jstree-default .jstree-anchor{color:var(--active-sel);}
.jstree-default .jstree-hovered{background-color:transparent;}
.jstree-default-dark .jstree-clicked,
.jstree-default-dark .jstree-anchor:hover{color:var(--bs-warning)!important;background-color:var(--bs-dark)!important;}
.jstree-default .jstree-anchor:active{color:var(--bs-dark)!important;background-color:var(--bs-orange)!important;}
.jstree-default .jstree-search{color:var(--bs-orange);background-color:var(--bg-light);}

/*#interface .jstree-default .jstree-search {color:var(--bs-blue)!important;}*/
#layeringsystem li[data-opacity='0'],
#layeringsystem li[data-opacity='0.0']{opacity:40%;}
#layeringsystem{margin:0;padding:0;list-style-type: none;background-color:transparent;/*display:grid;grid-template-columns: repeat(5,1fr);grid-gap:5px;*/}
#layeringsystem li{border:1px solid var(--layer-2);background-color:var(--layer-3);padding:2px;margin:2px 0;}
#layeringsystem li:hover{border-color:var(--layer-7);background-color:var(--layer-5);}
#layeringsystem li.active{border-color:var(--primary);background-color:var(--secondary);}
#layeringsystem li[disabled],
#layeringsystem li[disabled]:hover,
#layeringsystem li.active[disabled] {color:var(--layer-0);}
#layeringsystem li::after{content:' ' attr(data-labels);}
#layeringsystem li.notsync::before{font-family: "Font Awesome 6 Free";content:' ';color:var(--active-sel);font-weight:900;}
/*
Contextual Menu for the layering Systems
*/
#layers-contextual{
  position: fixed;
  z-index: 10000;
  width: 200px;
  background: var(--eq-lay3);
  display:none;
  box-shadow:0px 5px 15px 5px rgba(0,0,0,.3),rgb(0, 0, 0) 0px 0px 5px 0px inset;
  font-size: .75rem;
  padding: 1px;
}

#layers-contextual li {
  color: #eee;
  cursor: pointer;
  border:1px solid var(--layer-3);
  background-color:var(--layer-1);
  padding:2px;
  margin:2px;
  list-style: none;
}
#layers-contextual li[disabled]{
  opacity:.3;
  cursor:default;
}
#layers-contextual li:hover:not([disabled]) {
  background: var(--active);
}
#layers-contextual li svg {color:var(--bright-sel);}
#layers-contextual li:hover:not([disabled]) svg {color:white;}

#layers-contextual.visible{display:block;}

#masksModal input[type='text'],

#materialModal input[type='text'],
#interface input[type='text'],
#interface input[type='number'],
#interface input[type='file'],
#interface select{background-color:var(--eq-lay2);color:var(--bs-light);border-color:rgba(255,255,255,0.11);font-size:.75rem!important;}
#interface .form-select {
  font-size: .75rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23DD8800' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e")!important;
}

#modelTarget, #masksTemplate, #normTemplate{background-color:var(--bs-light)!important;color:var(--bs-dark)!important;}
#modelUserDataForm span i{min-width:21px;}
/* image preview flipping behaviour styles */
#mb-preview{width:100%;-webkit-transform: scaleY(-1);transform: scaleY(-1);} /*microblend preview flip */
#bg-changer{display:block;width:100%;border:0 none;height:4em; border: 0 none!important; padding:0;}
.flip{-webkit-transform: scaleY(1)!important;transform: scaleY(1)!important;}
/*microblend preview text displaing the direction*/
.bg-secondary, .badge-secondary{background-color:var(--secondary) !important;}
.bg-md-dark{background-color:var(--med-dark);}

/* information windows */
#masksModal select,
#LicenseModal .modal-content{background-color:var(--layer-0)!important;}
#masksModal .modal-content,
#AimBlend .modal-content,
#modalInfo .modal-content,
#unCookModal .modal-content,
#uncookMicro .modal-content,
#modalHelp .modal-content{background-color:var(--eq-lay1)!important;}
#modalInfo *, #LicenseModal *, #modalHelp *{font-size:0.8rem;}
#LicenseModal * {border-color:var(--layer-3)!important;}
#LicenseModal .modal-header,
#AimBlend .modal-header{border:0 none;}
#AimBlend .modal-body{background-color:var(--layer-1)!important;}

#masksModal select option{color:white;font-size:0.8rem;border:1px solid transparent;margin:2pt 0;padding:2pt;}

#masksModal select option:hover,
#masksModal select option:focus,
#masksModal select option:active,
#masksModal select option:checked{background-color:var(--secondary);border:1px solid var(--error);}
/*{background-color:var(--active-sel);color:black;}*/
#uncookMicro .modal-content{min-height: 200px;}

#LicenseModal .modal-body .nav-tabs .nav-item.show .nav-link,
#LicenseModal .modal-body .nav-tabs .nav-link.active{
  color: var(--bright-sel);
  background-color: black;
  border-color: #dee2e6 #dee2e6 #dee2e6;
}
#LicenseModal .nav-link:focus, .nav-link:hover {color: var(--primary);}
#LicenseModal .nav-link {
  color: var(--active);
}
#uncookMicro div.modal-content,
#unCookModal div.modal-content{box-shadow: 0 0 2em black;}
#uncookMicro .modal-footer,
#unCookModal .modal-footer{border-top-color: var(--bs-info);background-color:var(--layer-0);}


#customMaskSelector{border: 1px solid var(--bs-danger);padding-top:1rem;}
#microLogger,
#uncookLogger{height: 20rem;max-height:20rem;border-left: 1px solid var(--bs-danger);padding-top:1rem;}
#microLogger::before{content:'Operations:';color:var(--bs-primary);border-bottom:1px solid var(--bs-primary);display:block;margin-bottom: .5rem;}
#uncookLogger::before{content:'Errors Logger:';color:var(--bs-danger);border-bottom:1px solid var(--bs-danger);display:block;margin-bottom: .5rem;}
#microLogger div,
#uncookLogger div{overflow-y: scroll;max-height:calc(19.5rem - 32px);font-family: monospace;font-size:10pt;}
#legacyMaterial::-webkit-scrollbar,
#colordisplay::-webkit-scrollbar,
#customMaskSelector::-webkit-scrollbar,
#microLogger div::-webkit-scrollbar,
#microLogger div::-webkit-scrollbar,
#uncookLogger div::-webkit-scrollbar {width:12px;background-color:black;}
#legacyMaterial::-webkit-scrollbar-thumb,
#customMaskSelector::-webkit-scrollbar-thumb,
#microLogger div::-webkit-scrollbar-thumb,
#uncookLogger div::-webkit-scrollbar-thumb{background: var(--eq-lay3);border:1px solid var(--bs-danger);background-color: rgba(220,53,69,0.5);}
#microLogger div span,
#uncookLogger div span{display:block;}

#verticalSlider input[type="range"] {  -webkit-appearance: slider-vertical;	height:512px;	width:16px;	float:right;}
.pointer i{cursor:pointer;}

.blend-lumi{mix-blend-mode: luminosity;}
.blend-invert{filter: invert;}

.btn-Prim{background-color:var(--primary);color:white;}
.btn-out-Prim{background-color:transparent;color:var(--primary);border-color:var(--primary);}
.btn-out-Prim:hover{background-color:var(--primary);color:white!important;border-color:var(--primary);}
.btn-out-Prim:active{background-color:var(--primary);color:white!important;border-color:var(--primary);}

.input-group-text{background-color: var(--eq-lay1);border:1px solid var(--primary);color:var(--primary);}

input[type=range]{-webkit-appearance: none;}
input[type=range]::-webkit-slider-runnable-track {width: 300px;height: 5px;background: var(--secondary);border: none;}
input[type=range]::-webkit-slider-thumb {-webkit-appearance: none;border: none;height: 12px;width: 12px;border-radius: 50%;background: var(--active);margin-top: -4px;}
input[type=range]:focus::-webkit-slider-runnable-track,
input[type=range]:active::-webkit-slider-runnable-track{background: var(--active-sel);}
input[type=range]:focus::-webkit-slider-thumb ,
input[type=range]:active::-webkit-slider-thumb {background: var(--active);}
input[type=range]:focus {outline: none;}


.form-check-input,.form-check-input:focus{background-color: var(--secondary);border-color:var(--primary);}
.form-check-input:checked {background-color: var(--active-sel);border-color:var(--primary);}

/* #RandOptmodal details summary {color:white;}#RandOptmodal details{color:var(--primary);} */

#randOptbody .form-check-label details {color:var(--bs-info)!important;font-size:calc(100% - 20%) !important;}
#randOptbody .form-check-label summary{color:white!important;font-size:calc(100% - 15%) !important;}

#microdisplay,#cu_mu_display{width: 2fr;height: 80px;border: 1px solid #4d5154!important;overflow-x: scroll;}
#cagethemicroblends{display:flex;justify-content: flex-start;align-content: flex-start;height:64px;flex-flow: column wrap;}
#cagethemicroblends li{display:inline-block;list-style: none;flex-basis:64px;height:64px;width:64px;background-color:black;margin:1px;transform: scaleY(-1);}
#cu_mu_display::-webkit-scrollbar,
#microdisplay::-webkit-scrollbar{height:12px;background-color:black;}
#cu_mu_display::-webkit-scrollbar-thumb,
#microdisplay::-webkit-scrollbar-thumb{background: var(--eq-lay3);border:1px solid var(--bs-danger);background-color: rgba(220,53,69,0.5);}/*{background: var(--eq-lay3);border:1px solid var(--bs-dark);/*-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);*/}

#prefxunbundle,#wCLIexe{background-color:var(--eq-lay2);color:var(--bs-light);border-color:rgba(255,255,255,0.11);font-size:.75rem!important;}

.dg .property-name {width:70%!important;}
.dg .c {width:30%!important;}
#LicenseModal .modal-body{background-color:black!important;-webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(255,179,15,0);
box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(255,179,15,0);}
.mlsblogo{padding:0!important;margin-right:1em;display: flex;justify-content: center;align-items: center;max-width:256px;}

#materialSummary::before{content: 'Material: ';font-size:calc(100% * .8);}
#materialModal .modal-body,
#materialChoser{background:radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(39,39,39,1) 100%);background-repeat: no-repeat;}
#materialChoser{border:1px double var(--secondary);}
#materialChoser:hover{border-color:var(--active-sel);cursor: pointer;}
/*#MLibrary{grid-column-start: 2!important;grid-column-end: 2!important;grid-row-start: 2!important;grid-row-end: 3!important;}*/
#matfindresults::before{content:'search matches';display:block;border-bottom: 1px solid var(--secondary);font-size:calc(100% * .7);}
#materialModal .modal-xl {
    max-width: 1040px;
}

#xport_dm{background-color:var(--layer-0);border:1px solid var(--primary);}
#xport_dm li a{color: var(--active) !important;}
#xport_dm li a:hover{background-color:var(--active);color: white !important;}

.experimental::before{content:'! Experimental ';font-size:.7rem;color:var(--primary);}
.experimental{border:1px dotted var(--primary);background-color:var(--layer-0);}
#notyCounter{min-width:5rem;}
#normalMe{border:1px solid var(--primary);}

.introjs-tooltip-title{color:var(--bs-info);}
.introjs-tooltip {background-color: var(--eq-lay2);min-width:400px;max-width:700px;padding:10px;}
.introjs-tooltipbuttons{background-color: var(--eq-lay3);border-top-color: var(--bs-info);}
.introjs-button {background-color: var(--layer-0);text-shadow: none;border-color:var(--bs-info);color:var(--bs-info)!important;padding: .7em 1em;font-size:13px;}
.introjs-button:focus, .introjs-button:active,
.introjs-button:hover{background-color: var(--bs-info)!important;color:var(--bs-dark)!important;text-shadow: none;}
.introjs-helperLayer {background:transparent;border: 2px dashed var(--bright-sel);}
.biggerTooltip {box-shadow: 0 0 2em black;}

#hairSwatches {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: flex-start;
    height: calc(calc(var(--hairswatch)* 6) + 12px);
		background-color:var(--eq-lay1);
}
#hairSwatches span{display:inline-block;width: var(--hairswatch);height:var(--hairswatch);margin:1px;text-align: center;text-shadow: 0 0 2px rgba(0,0,0,0.5);vertical-align: bottom;}
#hairSwatches span[data-set='custom']::before{font-family: "Font Awesome 6 Free";content:'';font-weight:900;color:var(--bs-danger)!important;bottom:0;}
/* roottotip and id */
#sp-gradients div{border:1px solid var(--layer-9);min-height:calc(100% - 40px);width:1.5rem;margin:0 .5em;}
#bkgshades{border: 0 none!important;padding: 0;}

#modelsTree li[normal] a::after{content:' ';font-family: "Font Awesome 6 Free";font-weight:900;color:var(--normal)!important;}
.grad{border: 1px solid var(--layer-9);display: inline-block;min-width:300px;min-height:1.8rem;}

#legacyMaterial ul{list-style: none;}
#legacyMaterial ul li{margin:1px;border-bottom:1px solid var(--layer-9);cursor:pointer;}
#legacyMaterial ul li:hover{background-color:var(--error);}
#legacyMaterial ul li.active{background-color:var(--secondary);}

#floatMat{background-color: var(--layer-0);border: 1px solid var(--secondary);width:128px;height:128px;}
