@import "variables.css";
:root{
  --bs-dropdown-link-active-bg: #9a0036;
}
*{outline:none;}
.plus_1_layer{background-color:rgba(255,255,255,0.05);}
.plus_2_layer{background-color:rgba(255,255,255,0.08);}
.plus_3_layer{background-color:rgba(255,255,255,0.11);}
.plus_4_layer{background-color:rgba(255,255,255,0.12);}
.plus_5_layer{background-color:rgba(255,255,255,0.14);}

.dropdown-menu-dark{
  --bs-dropdown-link-active-bg: #9a0036;
}

body > footer{
  padding-top:2px;
  position:fixed;
  bottom:0;
  display:block;
}
body > footer.main{
  padding-top:2px;
  position:fixed;
  bottom:0;
  border-top:1px solid var(--layer-1);
  display:grid;
  grid-template-columns: 5rem 20px 3fr 1.5fr 5rem;
  gap: 4px;
}

body > footer.main>div{border:1px solid var(--layer-1);border-bottom: none;font-size:0.75rem;}
.no-gutters {
	margin-left: 0;
	margin-right: 0;
	> .col,
	> [class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}

details summary{background-color: var(--bs-secondary); padding:0 0.5rem;}

#pBar{
  min-height:23px!important;
}

#MainMenu{
  position: absolute;
  top:0;
  left:0;
  z-index:15;
}
.fs-120{font-size:1.2rem;}
.fs-110{font-size:1.1rem;}
.fs-90{font-size:0.9rem;}
.fs-80{font-size:0.8rem;}
.fs-75{font-size:0.75rem;}
.microspin{width:0.8rem;height:0.8rem;}

select optgroup:label{display:none;}

.bg-attention{background-color:var(--active-sel)!important;}
.fa-mars{color:var(--bs-cyan);}
.fa-venus{color:var(--bs-teal);}
.custom{color:cyan!important;}

/*Help Section redone*/
#Helplist{
  margin-left:0;
  padding-left: 0;
  li{
    list-style: none;
    margin:.3rem;
    ul{
      padding: .5rem;
    }

    a{
      text-decoration: none;
      color:white;padding:.2rem;
    }
    a:hover,
    a:focus{background-color:var(--bs-secondary);}
  }
}

/* Options for three.js */
#interface canvas{ background: radial-gradient(#010101, #121212);background-repeat: no-repeat}
/* #dat-container {background-color:var(--layer-1); position: absolute; top: 0px; left: 40px; border:1px solid var(--bs-secondary)!important;z-index:11;}
#dat-container .dg.main .close-button { border:1px solid var(--bs-secondary)!important; } */
#materialTrees, #layeringsystem,
 .offcanvas *:not(.svg-inline--fa, .fs-120),
 .dropdown-menu li,#cagemLibrary div{font-size:0.75rem!important;}
#MainMenu .dropdown-menu li{font-size: 0.8rem!important;}


.offcanvas .offcanvas-command{padding:1rem;background:var(--layer-3);}
.offcanvas .offcanvas-header{background-color: var(--bs-primary);}
#off-MLab .offcanvas-header {  background-color: var(--bs-warning);}
/*
.offcanvas-body::-webkit-scrollbar {background-color:var(--bs-layer0);}
.offcanvas-body::-webkit-scrollbar-thumb{background: var(--bs-layer3);-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);border:1px solid var(--bs-dark);}
*/


#off_MLSetups{min-width:var(--rendView)}
#off-MLab .offcanvas input[type='text'],
#legacyMatFinder,
.offcanvas input[type='text']{background-color:var(--bs-layer0)!important;color:var(--bs-light)!important;border-color:#4d5154;font-size:.75rem!important;}
#mbLogPackager{border:2px dashed var(--active);min-height:40px;max-height:60px;overflow-y: scroll;background:var(--bs-layer0);}

#NotificationCenter .offcanvas-body{background-color:var(--bs-layer0);}
#HelpTree *:not(svg,path){color:white!important;}

#interface{display:grid;height: 100vh;}
#withthacanvas{grid-column-start: 1; grid-column-end: 1; grid-row-start: 1; grid-row-end: 5;}
/*#withbones{grid-column-start: 1; grid-column-end: 1; grid-row-start: 1;grid-row-end: 1;z-index:10;text-align:right;}*/


#modelsNavbar{grid-column-start: 1; grid-column-end: 2; grid-row-start: 3; grid-row-end: 3;}
#colorGrid{display:grid;grid-template-columns:1.5fr 2.3fr;}
#matdisplay{display:grid;grid-template-columns: var(--matrender) 1fr;} /*display the materials and it's datas*/

#legacyMaterial{height:200px;overflow-y: scroll;border:1px solid #4d5154!important;}
#cagethematerials{height:270px;overflow-y: scroll;border:1px solid #4d5154!important;}
#cagemLibrary{height:calc(2 * var(--matsizes));overflow-y: scroll;border:1px solid #4d5154!important;}
#cagemLibrary::-webkit-scrollbar ,
#cagethematerials::-webkit-scrollbar {background-color:var(--bs-layer0);}

#cagethematerials::-webkit-scrollbar-thumb{background: var(--bs-layer3);-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);border:1px solid var(--bs-dark);}

#cagemLibrary > div{height:var(--matsizes);border:1px solid var(--bs-secondary);text-align: center;background-color: var(--bs-secondary);margin-bottom:3px;text-shadow: 0 0 3px #000, 0 0 5px #000;}
#cagemLibrary > div.active{border-color:var(--bs-primary);background-color: var(--active);}

input[type="range" i] {
  cursor: default;
  background-color: transparent!important;
}
#layer_settings .input-group-text{min-width:3em;}
#layer_settings div.input-group div.badge{min-width:70px;}
#micropanel div.input-group div.badge{min-width:120px;}

#withbones.on{color:var(--bs-primary);}

#colordisplay{width:content;height:calc(calc(var( --swatch-size ) * var(--numswatches))+13px);overflow-y: auto;border:1px solid #4d5154!important;}
#cagecolors{display:flex;flex-flow: row wrap;justify-content:flex-start;align-content:flex-start;height:calc(calc(var(--swatch-size)* var(--numswatches)) + 7px);}
#cagecolors span{flex-basis:var(--swatch-size);width:var(--swatch-size);height:var(--swatch-size);display:inline-block;border:1px solid var(--layer-1);margin:0;}

#cagetheCuMBlends li.MBactive,
#cagethemicroblends li.MBactive,
#cagecolors span:active,
#cagecolors span.active{
	z-index:1;
	box-shadow: inset 0 0 6px rgba(255,255,0,0.9), 0 0 5px rgba(0,0,0,0.8);
}
#colordisplay::-webkit-scrollbar {height:12px;background-color:black;}
#colordisplay::-webkit-scrollbar-thumb{background: var(--bs-layer3);border:1px solid var(--bs-danger);background-color: rgba(220,53,69,0.5);}

.twoColGrid{display:grid;grid-template-columns:1fr 1fr;}
.treeColGrid{display:grid;grid-template-columns:1fr 1fr 1fr;}
.treeColGrid_spaced{display:grid;grid-template-columns:1fr 1fr 1fr;column-gap:3px;}
.matColGrid_spaced{display:grid;grid-template-columns:repeat(4,minmax(170px,256px));column-gap:3px;}

.tint{-moz-box-shadow:inset 0 0 5px #000; -webkit-box-shadow: inset 0 0 5px #000; box-shadow:inset 0 0 5px #000;height:32px !important;background-blend-mode: overlay;}
#AimBlend .modal-body *:not(button, i),
#modelsNavbar .input-group-text {border-color:var(--bs-info)!important;}


#masksPanel li.off,
#layeringsystem li[data-opacity='0'],
#layeringsystem li[data-opacity='0.0']{opacity:40%;}
#layeringsystem{margin:0;padding:0;list-style-type: none;background-color:transparent;}
#layeringsystem li{border: 1px solid var(--bs-layer2); background-color:var(--bs-layer3);padding:2px;margin:2px 0;}
#layeringsystem li:hover{border-color:var(--layer-7);background-color:var(--layer-5);}
#layeringsystem li.active{border-color:var(--bs-primary);background-color:var(--bs-secondary);}
#layeringsystem li[disabled],
#layeringsystem li[disabled]:hover,
#layeringsystem li.active[disabled] {color:var(--bs-layer0);border-style: dashed;background-color:transparent!important;}
#layeringsystem li.notsync::before{font-family: "Font Awesome 6 Free";content:' ';color:var(--active-sel);font-weight:900;}
/*
Contextual Menu for the layering Systems
*/
#layers-contextual{
  position: fixed;
  z-index: 10000;
  width: 200px;
  background: var(--bs-layer3);
  display:none;
  box-shadow:0px 5px 15px 5px rgba(0,0,0,.3),rgb(0, 0, 0) 0px 0px 5px 0px inset;
  font-size: .75rem;
  padding: 1px;

  & li {
    color: #eee;
    cursor: pointer;
    border:1px solid var(--layer-3);
    background-color:var(--layer-1);
    padding:2px;
    margin:2px;
    list-style: none;
  }
  
}
#layers-contextual li[disabled]{
  opacity:.3;
  cursor:default;
}
#layers-contextual li:hover:not([disabled]) {
  background: var(--active);
}
#layers-contextual li svg {color:var(--bright-sel);}
#layers-contextual li:hover:not([disabled]) svg {color:white;}

#layers-contextual.visible{display:block;}
#layers-contextual li.void {background-color: var(--bs-layer0);border:none;height:.6em;}

input[type='text'],
#materialModal input[type='text'],
#interface input[type='text'],
#interface input[type='number'],
#interface input[type='file'],
#interface select{background-color:var(--bs-layer2);color:var(--bs-light);border-color:rgba(255,255,255,0.11);font-size:.75rem!important;}
#interface .form-select {
  font-size: .75rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23DD8800' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e")!important;
}

#modelTarget, #masksTemplate, #normTemplate{background-color:var(--bs-light)!important;color:var(--bs-dark)!important;}
#modelUserDataForm span i{min-width:21px;}
/* image preview flipping behaviour styles */
#mb-preview{width:100%;} /*microblend preview */
#bg-changer{display:block;width:100%;border:0 none;height:100%; border: 0 none!important; padding:0;}
.flip{-webkit-transform: scaleY(1)!important;transform: scaleY(1)!important;}
.flipreverse{-webkit-transform: scaleY(-1) !important;
  transform: scaleY(-1) !important;}
/*microblend preview text displaing the direction*/
.bg-secondary, .badge-secondary{background-color:var(--bs-secondary) !important;}
.bg-md-dark{background-color:var(--med-dark);}

/* information windows */
#LicenseModal .modal-content{background-color:var(--bs-layer0)!important;}
#AimBlend .modal-content,
#modalInfo .modal-content,
#unCookModal .modal-content,
#uncookMicro .modal-content,
#modalHelp .modal-content{background-color:var(--bs-layer1)!important;}
#modalInfo *, #LicenseModal *, #modalHelp *{font-size:0.8rem;}
#LicenseModal * {border-color:var(--layer-3)!important;}
#LicenseModal .modal-header,
#AimBlend .modal-header{border:0 none;}
#AimBlend .modal-body{background-color:var(--layer-1)!important;}

#uncookMicro .modal-content{min-height: 200px;}

#LicenseModal .modal-body .nav-tabs .nav-item.show .nav-link,
#LicenseModal .modal-body .nav-tabs .nav-link.active{
  color: var(--bright-sel);
  background-color: black;
  border-color: #dee2e6 #dee2e6 #dee2e6;
}
#LicenseModal .nav-link:focus, .nav-link:hover {color: var(--bs-primary);}
#LicenseModal .nav-link {
  color: var(--active);
}
#uncookMicro div.modal-content,
#unCookModal div.modal-content{box-shadow: 0 0 2em black;}
#uncookMicro .modal-footer,
#unCookModal .modal-footer{border-top-color: var(--bs-info);background-color:var(--bs-layer0);}

#personalMaskSelector,
#customMaskSelector{border: 1px solid var(--bs-danger);padding-top:1rem;}
#personalMaskSelector{border-color:var(--active);}


#microLogger,
#uncookLogger{height: 25rem;max-height:25rem;border-left: 1px solid var(--bs-danger);padding-top:1rem;}
#microLogger::before{content:'Operations:';color:var(--bs-primary);border-bottom:1px solid var(--bs-primary);display:block;margin-bottom: .5rem;}
#uncookLogger::before{content:'Errors Logger:';color:var(--bs-danger);border-bottom:1px solid var(--bs-danger);display:block;margin-bottom: .5rem;}
#microLogger div,
#uncookLogger div{overflow-y: scroll;max-height:calc(19.5rem - 32px);font-family: monospace;font-size:10pt;}
#legacyMaterial::-webkit-scrollbar,
#colordisplay::-webkit-scrollbar,
#customMaskSelector::-webkit-scrollbar,
#microLogger div::-webkit-scrollbar,
#microLogger div::-webkit-scrollbar,
#uncookLogger div::-webkit-scrollbar {width:12px;background-color:black;}
#legacyMaterial::-webkit-scrollbar-thumb,
#customMaskSelector::-webkit-scrollbar-thumb,
#microLogger div::-webkit-scrollbar-thumb,
#uncookLogger div::-webkit-scrollbar-thumb{background: var(--bs-layer3);border:1px solid var(--bs-danger);background-color: rgba(220,53,69,0.5);}
#microLogger div span,
#uncookLogger div span{display:block;}

#verticalSlider input[type="range"] {  appearance: slider-vertical; -webkit-appearance: slider-vertical;	height:512px;	width:16px;	float:right;}
.pointer svg,
.pointer i{cursor:pointer;}

.blend-lumi{mix-blend-mode: luminosity;}
.blend-invert{filter: invert;}

.btn-Prim{background-color:var(--bs-primary);color:white;}
.btn-out-Prim{background-color:transparent;color:var(--bs-primary);border-color:var(--bs-primary);}
.btn-out-Prim:hover{background-color:var(--bs-primary);color:white!important;border-color:var(--bs-primary);}
.btn-out-Prim:active{background-color:var(--bs-primary);color:white!important;border-color:var(--bs-primary);}

.input-group-text{background-color: var(--bs-layer1);border:1px solid var(--bs-primary);color:var(--bs-primary);}

input[type=range]{appearance: none;-webkit-appearance: none;}
input[type=range]::-webkit-slider-runnable-track {width: 300px;height: 5px;background: var(--bs-secondary);border: none;}
input[type=range].grayscale::-webkit-slider-runnable-track {background: rgb(77, 77, 77);}
input[type=range]::-webkit-slider-thumb {-webkit-appearance: none;border: none;height: 12px;width: 12px;border-radius: 50%;background: var(--active);margin-top: -4px;}
input[type=range].grayscale::-webkit-slider-thumb {background: rgb(102, 102, 102);}

input[type=range]:focus::-webkit-slider-runnable-track,
input[type=range]:active::-webkit-slider-runnable-track{background: var(--active-sel);}
input[type=range].grayscale:focus::-webkit-slider-runnable-track,
input[type=range].grayscale:active::-webkit-slider-runnable-track{background: rgb(110, 110, 110);}
input[type=range]:focus::-webkit-slider-thumb ,
input[type=range]:active::-webkit-slider-thumb {background: var(--active);}
input[type=range].grayscale:focus::-webkit-slider-thumb ,
input[type=range].grayscale:active::-webkit-slider-thumb{background: rgb(102, 102, 102);}
input[type=range]:focus {outline: none;}




.form-check-input,.form-check-input:focus{background-color: var(--bs-secondary);border-color:var(--bs-primary);}
.form-check-input:checked {background-color: var(--active-sel);border-color:var(--bs-primary);}

/* #RandOptmodal details summary {color:white;}#RandOptmodal details{color:var(--primary);} */

#randOptbody .form-check-label details {color:var(--bs-info)!important;font-size:calc(100% - 20%) !important;}
#randOptbody .form-check-label summary{color:white!important;font-size:calc(100% - 15%) !important;}

#microdisplay,#cu_mu_display{width: 2fr;height: 80px;border: 1px solid #4d5154!important;overflow-x: scroll;}
#cagetheCuMBlends,
#cagethemicroblends{display:flex;justify-content: flex-start;align-content: flex-start;height:var(--mblendSize);flex-flow: column wrap;}
#cagetheCuMBlends li,
#cagethemicroblends li{display:inline-block;list-style: none;flex-basis:var(--mblendSize);height:var(--mblendSize);width:var(--mblendSize);background-color:black;margin:1px;}
#cu_mu_display::-webkit-scrollbar,
#microdisplay::-webkit-scrollbar{height:12px;background-color:black;}
#cu_mu_display::-webkit-scrollbar-thumb,
#microdisplay::-webkit-scrollbar-thumb{background: var(--bs-layer3);border:1px solid var(--bs-danger);background-color: rgba(220,53,69,0.5);}

#prefxunbundle,#wCLIexe{background-color:var(--bs-layer2);color:var(--bs-light);border-color:rgba(255,255,255,0.11);font-size:.75rem!important;}

.dg .property-name {width:70%!important;}
.dg .c {width:30%!important;}
#LicenseModal .modal-body{background-color:black!important;-webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(255,179,15,0);
box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(255,179,15,0);}
.mlsblogo{padding:0!important;margin-right:1em;display: flex;justify-content: center;align-items: center;max-width:256px;}
#materialSummary{background-color:var(--bs-secondary);padding:0 .5em;}
#materialSummary::before{content: 'Material: ';font-size:calc(100% * .8);}
#materialModal .modal-body{background:radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(39,39,39,1) 100%);background-repeat: no-repeat;max-height:calc(3*var(--matsizes))!important;max-width:calc(4*var(--matsizes) + 16px)!important;}
#colorManagament:before{content: 'Color: ';font-size:calc(100% * .8);}
#materialDis,
#materialChoser{background:radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(39,39,39,1) 100%);background-repeat: no-repeat;max-height:var(--matrender)!important;max-width:var(--matrender)!important;}
#materialDis,
#materialChoser{border:1px double var(--bs-secondary);}
#materialDis:hover,
#materialChoser:hover{border-color:var(--active-sel);cursor: pointer;}
/*#MLibrary{grid-column-start: 2!important;grid-column-end: 2!important;grid-row-start: 2!important;grid-row-end: 3!important;}*/
#matfindresults::before{content:'search matches';display:block;border-bottom: 1px solid var(--bs-secondary);font-size:calc(100% * .7);}
#materialModal .modal-xl {
    max-width: 1040px;
}

.dropSelect option,
#xport_dm{background-color:var(--bs-layer0);border:1px solid var(--bs-primary);}
#xport_dm li a{color: var(--active) !important;}
#xport_dm li a:hover{background-color:var(--active);color: white !important;}

#notyCounter{min-width:5rem;}
#normalMe{border:1px solid var(--bs-primary);}

.introjs-tooltip-title{color:var(--bs-info);}
.introjs-tooltip {background-color: var(--bs-layer2);min-width:400px;max-width:700px;padding:10px;}
.introjs-tooltipbuttons{background-color: var(--bs-layer3);border-top-color: var(--bs-info);}
.introjs-button {background-color: var(--bs-layer0);text-shadow: none;border-color:var(--bs-info);color:var(--bs-info)!important;padding: .7em 1em;font-size:13px;}
.introjs-button:focus, .introjs-button:active,
.introjs-button:hover{background-color: var(--bs-info)!important;color:var(--bs-dark)!important;text-shadow: none;}
.introjs-helperLayer {background:transparent;border: 2px dashed var(--bright-sel);}
.biggerTooltip {box-shadow: 0 0 2em black;}

#hairSwatches {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: flex-start;
    height: calc(calc(var(--hairswatch)* 6) + 12px);
		background-color:var(--bs-layer1);
}
#hairSwatches span{display:inline-block;width: var(--hairswatch);height:var(--hairswatch);margin:1px;text-align: center;text-shadow: 0 0 2px rgba(0,0,0,0.5);vertical-align: bottom;}
#hairSwatches span[data-set='custom']::before{font-family: "Font Awesome 6 Free";content:'';font-weight:900;color:var(--bs-danger)!important;bottom:0;}
/* roottotip and id */
#sp-gradients div{border:1px solid var(--layer-9);min-height:calc(100% - 40px);width:1.5rem;margin:0 .5em;}
#bkgshades{border: 0 none!important;padding: 0;}

.grad{border: 1px solid var(--layer-9);display: inline-block;min-width:300px;min-height:1.8rem;}

#legacyMaterial ul{list-style: none;}
#legacyMaterial ul li{margin:1px;border-bottom:1px solid var(--layer-9);cursor:pointer;}
#legacyMaterial ul li:hover{background-color:var(--bs-error);}
#legacyMaterial ul li.active{background-color:var(--bs-secondary);}

#floatMat{background-color: var(--bs-layer0);border: 1px solid var(--bs-secondary);width:128px;height:128px;}
#floatLayer{background-color: var(--bs-layer0);border: 1px solid var(--bs-secondary);width: 332px;height: 200px;}
#floatLayer div.colDisplayer{width:64px;height:128px;vertical-align: top;}
#floatLayer footer{font-size: .85rem;}
#floatLayer footer strong{color:var(--active-sel);}

#v-pills-sMesh .nav-link{color:var(--bs-info) !important;}
#v-pills-sMesh .nav-link.active, #v-pills-sMesh .show>.nav-link{color:black !important;background-color: var(--bs-info)!important;}

#mbSelect optgroup{color:var(--active);text-transform: capitalize;}
#mbSelect optgroup[label='core']{color:var(--active-sel);background-color:var(--layer-3);}
#mbSelect optgroup option{color:white;text-transform: none;}

#masksPanel {display:grid;grid-template-columns:repeat(5,1fr);}
#masksPanel li{background-color:var(--layer-1)!important;border:1px solid var(--layer-3);color:white;padding:3px 7px;}
#masksPanel li:hover,#masksPanel li.active{background-color:var(--bs-secondary)!important;border-color: var(--active-sel);color:var(--active-sel);}

.nav-pills .nav-link{color:var(--bs-primary);background-color: var(--layer-9);}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link{background-color:var(--bs-secondary);}

span.choose{display:inline-block;width:48px;height:48px;border:1px solid var(--bs-secondary);margin:0 .3rem;}
span.choose.active{border-color:var(--active-sel);}

#panelPain span.btn:hover,
#panelPain a.btn:hover{color:var(--active-sel)!important;}

#Snapshots img{max-width:64px;max-height:64px;border:1px dotted var(--bs-secondary);margin-bottom:.25rem; margin-right:.25rem;}
#Snapshots img:nth-child(even){margin-right:0;}

#strokeMsk:before{content:"";font-family: "Font Awesome 6 Free";font-weight:900;color:var(--active-sel)!important;padding-right:.5rem;font-size:1.5rem!important;}
#maskPainter{touch-action: none;/*it fixes the fadeoff*/}

#KofiSupportPage{margin:1em 0;cursor: pointer;}

#mbHierarchy ul::before{content:'package: 'attr(data-package);background-color: var(--layer-9);color:var(--bs-warning);padding:.2rem;}
#mbHierarchy ul li{background-color: var(--layer-2)!important;}
#mbHierarchy{max-height:600px;overflow-y: scroll;}
#mbLogPackager::-webkit-scrollbar,
#mblendUserManager::-webkit-scrollbar,
#mbHierarchy::-webkit-scrollbar{width:6px;background-color:black;}
#mbLogPackager::-webkit-scrollbar-thumb,
#mblendUserManager::-webkit-scrollbar-thumb,
#mbHierarchy::-webkit-scrollbar-thumb{background: var(--bs-layer3);border:1px solid var(--bs-danger);background-color: rgba(220,53,69,0.5);}

#dropzone{min-height:4em;padding:1em;border:.2em gray;border-style: dashed solid;}
#dropzone svg{filter: drop-shadow(0px 0px 5px #D8D8D8);top:1em;}
#dropzone.active{background-color:var(--layer-1)!important;}

#mblendCageManager{background-color: black;}
#mblendUserManager{max-height: 400px;overflow-y: scroll;}
#mblendUserManager div[data-filename]::before{content:attr(data-filename);background-color:rgba(220,53,69,0.5);display:block;text-align: center;color:lightgray;}
#mblendUserManager div[data-filename]{border-width:1px 0;border-style:solid;border-color: rgba(220,53,69,0.5);background-color:var(--layer-3);margin-bottom:4px;}
#mblendUserManager div[data-filename]:first-child{border-top:0;}
#mblendUserManager div[data-filename]:last-child{border-bottom:0;margin-bottom:0;}
#mblendUserManager div input.form-control:focus{border-color:none!important;box-shadow: none!important;}

.svg-inline--fa .fa-2x{height:2em!important;}
.svg-inline--fa .fa-3x{height:3em!important;}
.svg-inline--fa .fa-4x{height:4em!important;}
.svg-inline--fa .fa-5x{height:5em!important;}
.svg-inline--fa .fa-6x{height:6em!important;}
#foot-message{overflow-wrap: break-word;text-overflow: ellipsis;padding-left:4px;}

.card{background-color: var(--layer-1);}
#appeInfo{
  max-height:calc(100vh - (2.75rem + 75px));
  overflow-y: auto;
  background-color: var(--bs-layer2-rgb);
}
#appeInfo div:nth-child(even) .card{background-color: var(--layer-3)!important;}
.card .card-body{padding:4px 0;}

#nav-appearance div.card.active .card-header{background-color: var(--active);color:black; }

.samewidth span.input-group-text{min-width: 150px;text-align: right!important;justify-content:flex-end;}

#legacyMatSector{margin:.5em 0; }

.filterAlert{
  --angle: 0deg;
  border:4px solid;
  border-width: 5px;
  border-image-slice: 1;
  border-image-source: linear-gradient(var(--angle), #28150c 0%, #ff0000 45%, #f48c03 50%, #ff0000 55%, #28150c 100%)!important;
  animation: 5s rotate linear infinite!important;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

.mlpreviewBody{margin:0 0.3rem;padding:.5em;}
.mlpreviewBody details{margin:0 0 1em;background-color: var(--bs-layer0);}
.mlpreviewBody details summary{margin:0.5em 0;background-color: var(--bs-secondary);}
.mlpreviewBody details ul{margin:0;margin-left:0.5rem;border-left:5px solid var(--bs-secondary); padding:0;list-style: none}

.dropSelect,
.dropSelect option{background-color:var(--bs-layer0)!important;border:1px solid var(--bs-primary)!important;color:var(--bs-primary)!important;box-shadow: none;outline: none;}
.dropSelect option:focus,
.dropSelect option:hover{background-color:var(--bs-primary)!important;color:var(--bs-layer0)!important;}

dialog::backdrop{background: rgba(0, 0, 0, 0.5);}
.svgBtn svg{
  background-color: var(--layer-2);
  border-radius: .5rem;
  padding:.4rem;
}
dialog{outline:none;}
dialog#setupModPath{min-width:60%;}

div.dataTables_wrapper div.dataTables_info {padding:0;}
#DataModelsLibrary_filter input[type='search']{min-width:300px;}

.dt-button-collection.dtb-collection-closeable{
  background: var(--eq-lay2) !important;
}
.dt-button-collection.dtb-collection-closeable *{
  background: var(--eq-lay1) !important;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td[colspan]{
  padding:0;
  margin-bottom: 0;
}

/*caret fix for Datatables CSS*/
table.dataTable td.dt-control:before {
  content:"";
  font-family: "Font Awesome 6 Free";
  font-weight:900;
}
table.dataTable tr.dt-hasChild td.dt-control:before {
  content:"";
  color:var(--bs-primary);
}
table.dataTable tr:hover td:not([colspan]){
  background-color: var(--layer-2);
}
#DataModelsLibrary_wrapper .dataTables_filter{
  float:none;
  text-align: left;
  margin-right: 1rem;
  > label{ display:block; }
  > label > input {width:100%; }
}

#DataModelsLibrary_wrapper .badge{
  font-size: .8rem!important;
}

#editorConfig{
  > .offcanvas-body{
    > div.input-group{
      > span{min-width:50%;}
    }
  }
}

#uncookCheck details{
  background-color: #9a003699;
}

#editorConfig .offcanvas-body .badge{min-width:35%;}
#SettingsSummary div.cube{
  width:120px;
  height:120px!important;
  margin:4px;
  border: 1px dashed var(--bs-primary);
}

#SettingsSummary div.cube.tint::after {
  content: attr(data-color);
  color: white;
  display: block;
  text-shadow:0 0 0.2rem #000, 0 0 0.2rem #000, 0 0 0.2rem #000,0 0 0.2rem #000;
  word-spacing: 100vw;
  height: 120px!important;
  text-align: center;
  line-height: 30px;
  padding-top: 10px;
}

#tweakContainer{
  position: absolute;
  min-width: calc(var(--rendView) - 160px);
  right: 2px;
  z-index: 2500;
}

#sbmeshEN{
  ul{
    padding:3px;
    list-style: none;
    max-height:30vh;
    overflow-y: auto;
    > li{
      margin-bottom:3px;
      
      &:hover{
        background-color: var(--sec-hover);
      }

      &::after{
        display:block;
        font-size:.7rem;
        content:attr(data-material);
      }
    }
  }
}