@import "./variables.css";

.bodyGrid{display:grid;grid-template-columns: 1.3fr 2.4fr 1.1fr;gap:4px;margin:0 2px;}
.bodyGrid > div {border:1px solid var(--layer-2);height:90vh;background-color:var(--layer-1);}
.mat_instance{display:grid;grid-template-columns: 1fr 24px;gap:2px;margin:0;}
.sendtoEdit {cursor: pointer;}

header{padding:2px;margin-bottom:2px;border-bottom:1px solid var(--layer-1);display: flex;justify-content: space-between;}
footer{bottom:0;margin-top:2px;padding:2px 5px;position:fixed;border-top:1px solid var(--layer-1);display:grid;gap: 4px;width:100%;}
footer div{border:1px solid var(--layer-1);font-size:0.75rem;}

#tplLibrary > div > div{margin: 2px 2px 0;}
#instances > div{margin: 2px 0 2px 2px;}
#Mat_Setup > div > div{margin: 2px;}
#TabMaterialBuffers{font-size:0.9em;}

#Material > details.active{background-color: var(--sec_fade);}
#Material > details summary{color:var(--bs-light);}

.card{background-color:transparent;}
.card .card-header{display:flex;justify-content: space-between;}
.card .card-header.bg-primary{border:1px solid var(--layer-0);background-color:var(--active)!important;}

.vertscroll{overflow-y: scroll;}
.vertscroll::-webkit-scrollbar{background-color:var(--layer-0);width:5px;}
.vertscroll::-webkit-scrollbar-thumb{background: var(--eq-lay3);border:1px solid var(--bs-danger);background-color: rgba(220,53,69,0.5);}

.nav-tabs{border-bottom-color: var(--secondary);}

.list-group-item{background-color: var(--layer-1);color:var(--primary);padding:.5rem .1rem!important;}

.showColor{min-width:1rem;min-height:1rem;}

details summary[data-type]::marker {content: '';display: none; overflow-wrap: anywhere!important;}
details.active > summary[data-type]{background-color: var(--secondary);}
summary[data-type]:before{content: " ";font-family: "Font Awesome 6 Free";color:var(--bs-info);font-weight:900;}
summary[data-type='engine\\materials\\multilayered.mt']:before{content: " ";font-family: "Font Awesome 6 Free";color:var(--normal);font-weight:900;}
summary[data-type='engine\\materials\\metal_base.remt']:before{content: " ";font-family: "Font Awesome 6 Free";color:var(--error);font-weight:900;}
summary[data-type='base\\materials\\mesh_decal.mt']:before{content: " ";font-family: "Font Awesome 6 Free";color:var(--bs-secondary);font-weight:900;}

#Mat_Setup > div.card > div.input-group .badge{min-width:100px;}

.templateStripes {
    background-image: linear-gradient(45deg,rgba(0,0,0,.3) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.3) 50%,rgba(0,0,0,.3) 75%,transparent 75%,transparent);
    background-size: 3rem 3rem;
}

div[data-built='BuildFromTemplate']{background-color: var(--layer-0);}
div[data-built='BuildFromTemplate'] > div.input-group{margin:1px 0;}
div[data-built='BuildFromTemplate'] > div > div.badge{min-width:30%;text-align: right;color:var(--primary);}
div[data-built='BuildFromTemplate'] input{background-color:black;color:var(--eq-lay2); border:0;}
div[data-built='BuildFromTemplate'] input.custom{background-color:black;color:var(--bs-light);}
div[data-built='BuildFromTemplate'] input:focus,
div[data-built='BuildFromTemplate'] input:active{border:none!important;box-shadow: none!important;}

.Duplicate{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
    box-shadow: 0 0 2px var(--bright-sel);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
    box-shadow: 0 0 4px var(--bright-sel);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
    box-shadow: 0 0 8px var(--bright-sel);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
    box-shadow: 0 0 8px var(--bright-sel);
  }
}

.Flashy{
  animation: flash 0.82s normal;
}

@keyframes flash {
  10%, 90% {box-shadow: 0 0 2px var(--primary);}
  20%, 80% {box-shadow: 0 0 4px var(--primary);}
  30%, 70% {box-shadow: 0 0 8px var(--primary);}
  40%, 50%, 60% { box-shadow: 0 0 10px var(--primary);}
}

.toDefault{box-shadow: none!important;}
