:root{
  --active:#CC6600;
  --active-sel:#DD8800;
	--bright-sel:#ff9d00;
	--primary:#f57c00; /*--primary:#80DEEA; cyan*/

  /*--secondary:#3c454d;*/
  --sec-light:#656565;
  --sec-hover:#545147;
  --med-dark:#0d0d0d;
  /*--dark:#212529;*/
  /*--bs-primary:#f57c00; --primary:#80DEEA; cyan*/
	--swatch-size:18px;
	--hairswatch:64px;
  --layer-0:#121212;
	--eq-lay1:#272727;
  --eq-lay2:#414141;
  --eq-lay3:#505050;
	--normal:rgb(120,119,255);
  --layer-1:rgba(255,255,255,0.05);
  --layer-2:rgba(255,255,255,0.07);
  --layer-3:rgba(255,255,255,0.08);
  --layer-4:rgba(255,255,255,0.09);
  --layer-5:rgba(255,255,255,0.11);
  --layer-6:rgba(255,255,255,0.12);
  --layer-7:rgba(255,255,255,0.14);
  --layer-8:rgba(255,255,255,0.15);
  --layer-9:rgba(255,255,255,0.16);
  --sec_fade:#9a003680;
  --act_fade:#CC660080;
	--matsizes:256px;
	--numswatches:12;
	--rendView:600px;
  --matrender:128px;
  --mblendSize:64px;
  --dt-row-selected:154, 0, 54;
}
html, body{margin:0;padding:0;}
body{width: 100vw;height: 95vh;background-color:var(--layer-0);color:white;}

.fs-120{font-size:1.2rem;}
.fs-110{font-size:1.1rem;}
.fs-90{font-size:0.9rem;}
.fs-80{font-size:0.8rem;}
.fs-75{font-size:0.75rem;}
.fs-70{font-size:0.7rem;}
.fs-60{font-size:0.6rem;}
.microspin{width:0.8rem;height:0.8rem;}

.layer-0{background-color:var(--layer-0);}
.layer-1{background-color:var(--layer-1);}
.layer-2{background-color:var(--layer-2);}
.layer-3{background-color:var(--layer-3);}
.layer-4{background-color:var(--layer-4);}
.layer-5{background-color:var(--layer-5);}
.layer-6{background-color:var(--layer-6);}
.layer-7{background-color:var(--layer-7);}
.layer-8{background-color:var(--layer-8);}
.layer-9{background-color:var(--layer-9);}
/* equal layer x */
.eq-lay1{background-color:var(--eq-lay1);}
.eq-lay2{background-color:var(--eq-lay2);}
.eq-lay3{background-color:var(--eq-lay3);}
.eq-lay4{background-color:var(--eq-lay4);}
.bg-active{background-color:var(--active)!important;}
/*.bg-secondary{background-color:var(--secondary)!important;}
.bg-normal{background-color:var(--normal);}*/
.btn-tiny>.btn, .btn-tiny {
    padding: .15rem .3rem;
    font-size: .70rem;
    border-radius: .2rem;
}
.btn-micro>.btn, .btn-micro {
  padding: 0.05em 0.3em;
  font-size: .70rem;
  border-radius: 0;
}

.btn-primary{background-color:var(--primary);}
.btn-outline-primary{color:var(--primary);border-color:var(--primary);}
.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}
.outline-secondary{border-color:var(--bs-secondary)!important;}
.outline-l1{border-color:var(--layer-1)!important;}

.txt-active{color:var(--active)!important;}
.txt-primary{color:var(--primary)!important;}
.txt-secondary{color:var(--bs-secondary)!important;}
.btn-secondary.active{background-color:var(--active-sel);border-color:var(--active-sel);}

.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
    color: #000;
    background-color: var(--active);
    border-color: var(--active);
}

.btn-check:hover+.btn-outline-primary, .btn-outline-primary.hover{
  color: #000;
  background-color: var(--primary);
  border-color: var(--primary);
}

input.form-control:focus{color:var(--bs-light);border:1px solid transparent!important;box-shadow: none!important;background-color:var(--eq-lay2);}
.text-normals{color:var(--normal);}
input[type='number'],
input[type='text'], select{background-color:var(--eq-lay2);color:var(--bs-light);border-color:rgba(255,255,255,0.11);font-size:.75rem!important;}
input[type='color']{border:0 none!important;padding:0;height:auto;}
input[type='file']::-webkit-file-upload-button{display:none;}

.experimental::before{content:'! Experimental ';font-size:.7rem;color:var(--primary);display:inline-block;}
.experimental{border:1px dotted var(--primary);background-color:var(--layer-0);}

*::-webkit-scrollbar {width:10px;height:10px;background-color:black;}
*::-webkit-scrollbar-thumb{background: var(--eq-lay3);border:1px solid var(--bs-danger);background-color: rgba(220,53,69,0.5);}
