#interface {
    grid-template-columns: var(--rendView) 1.2fr 2fr 1.5fr;
    grid-template-rows: 2rem auto 1rem 27px;
    gap: 4px;
}
#pills-main-IF{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}
#nav-tabMLSB{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    max-height: calc(100vh - (2rem + 27px));
}
#modelTabScroll{
    max-height:calc(100vh - (2.75rem + 85px));
}

#editor-container{
    display:grid;
    grid-template-columns: 1.2fr 2fr 1.5fr;
    gap: 4px;
}

#MlEditor {
    grid-column-start: 1;
    grid-column-end: 1;
}
#layer_settings {
    grid-column-start: 2;
    grid-column-end: 2;
}
#micropanel {
    grid-column-start: 3;
    grid-column-end: 3;
    overflow-y: auto;
    padding: 0 3px;
}
#layeringsystem{display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;}
#layeringsystem li{margin:2px;}