#interface {
    grid-template-columns: 3fr 1.5fr 1.5fr 3fr;
    grid-template-rows: 2rem auto 1rem 27px;
    gap: 4px;
}
#pills-main-IF{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}
#nav-tabMLSB{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    max-height: calc(100vh - (2rem + 27px));
}
#modelTabScroll{
    max-height:calc(100vh - (2.75rem + 85px));
}
#editor-container{
    display:grid;
    grid-template-columns: 1.5fr 2fr 2.5fr;
    gap: 4px;
}
#MlEditor{grid-column-start: 2;}
#layer_settings {
    grid-column-start: 2;
}
#SettingsSummary{
    grid-column-start: 3;
    grid-column-end: 3;
    height: 130px;
    box-shadow: 0 0.5rem 1rem black;
}
#SettingsScroller{
    grid-column-start: 3;
    grid-column-end: 3;
    overflow-y: auto;
    max-height: calc(100vh - (130px + 2.75rem + 27px + 32px));
}

#SettingsScroller::-webkit-scrollbar{width:8px!important;}

#matdisplay{display:grid;grid-template-columns: 0 1fr;}
#mb-preview {width:128px;}
#materialDis{border:none;}

#layeringsystem{
    counter-reset: layer -1;
    max-height: 40vh;
    overflow-y: auto;
}
#layeringsystem li:before {
    counter-increment: layer;
    content: counter(layer);
    margin: 1px;
    margin-left: -1.25rem;
    background-color: var(--bs-secondary);
    padding: 0 2px;
    width: 1.25rem;
    display: inline-block;
    text-align: center;
    position: relative;
    border-radius: 14px;
    height: 1.25rem;
    color: white;
  }
  #layeringsystem li{
    margin-left:1.5rem;
    padding: 2px;
  }
  #layeringsystem li::after {content: ' ' attr(data-labels);}