#interface {
    grid-template-columns: 3fr 1.5fr 1.5fr 3fr;
    grid-template-rows: 2rem auto 1rem 27px;
    gap: 4px;
}
#pills-main-IF{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}
#nav-tabMLSB{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    max-height: calc(100vh - (2rem + 27px));
}
#modelTabScroll{
    max-height:calc(100vh - (2.75rem + 85px));
}
#editor-container{
    display:grid;
    grid-template-columns: 1.5fr 2fr 2.5fr;
    gap: 4px;
}
#MlEditor{grid-column-start: 2;}
#layer_settings {
    grid-column-start: 2;
}
#SettingsSummary{
    grid-column-start: 3;
    grid-column-end: 3;
    height: 130px;
    box-shadow: 0 0.5rem 1rem black;
}
#SettingsScroller{
    grid-column-start: 3;
    grid-column-end: 3;
    overflow-y: auto;
    max-height: calc(100vh - (130px + 2.75rem + 27px + 32px));
}

#SettingsScroller::-webkit-scrollbar{width:8px!important;}

#matdisplay{display:grid;grid-template-columns: 0 1fr;}
#mb-preview {width:128px;}
#materialDis{border:none;}

#layeringsystem{
    counter-reset: layer -1;
    max-height: 50vh;
    overflow-y: auto;
}
#layeringsystem li:before {
    counter-increment: layer;
    content: counter(layer);
    margin: 1px;
    margin-left: -1.25rem;
    background-color: var(--bs-secondary);
    padding: 0 2px;
    width: 1.25rem;
    display: inline-block;
    text-align: center;
    position: relative;
    border-radius: 14px;
    height: 1.25rem;
    color: white;
  }
  #layeringsystem li{
    margin-left:1.5rem;
    padding: 2px;
  }
  #layeringsystem li::after {content: ' ' attr(data-labels);}

#SettingsSummary div.cube{
  anchor-name: --colorPreview;
  position: relative;
  width:120px;
  height:120px!important;
  margin:4px;
  border: 1px dashed var(--bs-primary);
}

#SettingsSummary div.cube.tint::after {
  content: attr(data-color);
  color: white;
  display: block;
  text-shadow:0 0 0.2rem #000, 0 0 0.2rem #000, 0 0 0.2rem #000,0 0 0.2rem #000;
  word-spacing: 100vw;
  height: 120px!important;
  text-align: center;
  line-height: 30px;
  padding-top: 10px;
}

#rc-ColorSelector{
    position:absolute;
    position-anchor: --colorPreview;
    width: calc(calc(18 * var(--swatch-size)) + 49px);
    max-height: calc(calc(25 * var(--swatch-size)) + 56px);
    background-color: var(  --bs-layer0);
    top:anchor(top);
    right:anchor(left);
    z-index: 2000;
    border:1px solid var(--bs-layer1);
    margin-right: 2px;
    overflow-y: scroll;
    box-shadow: -.5rem 0 1rem .5rem #30000060;
    
    &::-webkit-scrollbar{
        width:10px;
        background: #3f6c8180;
    }
    &::-webkit-scrollbar-thumb {
        background: #3f6c81;
        border: 1px solid rgb(129 241 255);
    }

    & > div{
        display:flex;
        flex-direction:row-reverse;
        flex-wrap: wrap;
        align-content: flex-start;
        width:calc(calc(18 * var(--swatch-size)) + 36px);
        min-height: calc(5 * var(--swatch-size));
        max-height:calc(calc(25 * var(--swatch-size)) + 50px);

        & span{
            width:var(--swatch-size);
            height: var(--swatch-size);
            border:1px solid #00000010;

            &:active,
            &.active{
                z-index:1;
                box-shadow: inset 0 0 6px rgba(255,255,0,0.9), 0 0 5px rgba(0,0,0,0.8);
            }
        }
    }
}